@use '$shared/ui/shadow' as shadow;
@use '$shared/ui/breakpoints' as breakpoints;

/* Базовые стили */
.cell {
	box-sizing: border-box;
	position: relative;
	width: 386px;
	height: 418px;

	@include shadow.shadow;
	border-radius: 32px;
	border: none;

	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		width: 312px;
		height: 356px;
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 100%;
		height: 356px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 323px;
		height: 352px;
	}
}
