@use '$shared/ui/shadow' as shadow;
@use '$shared/ui/breakpoints' as breakpoints;

/* Базовые стили */
.cntr {
	box-sizing: border-box;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;

  padding: 40px;
  border-radius: 32px;
	border: none;

  @include shadow.shadow;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		padding: 24px;
	}
}

/* Размеры */
.cntr-sm {
  width: 386px;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 293px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 335px;
	}
}
.cntr-md {
  width: 387px;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 350px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 335px;
	}
}
.cntr-lg {
  width: 793px;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 606px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 335px;
	}
}
