@use 'typography';
@use 'colors' as colors;

body {
	margin: 0;

	/* Добавляем паддинг для скроллбара */
	scrollbar-gutter: stable;
	/* Блокируем прокрутку при открытом модальном окне */
	&:has(dialog[open]) {
		overflow: hidden;
	}
}

.even-container {
	border-radius: 16px;
	border: 1px solid blueviolet;
	top: -16px;
	position: relative;
	background: var(--color-White, colors.color('Main_White'));
	box-sizing: border-box;
}
