@use '$shared/ui/typography' as typo;
@use '$shared/ui/breakpoints' as breakpoints;
@use '$shared/ui/colors' as colors;
@use '$shared/ui/shadow' as shadow;

@mixin compact-layout {
	position: absolute;
	flex-direction: row;
	width: 392px;
	height: 88px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 20px;
	gap: 20px;
	border-radius: 32px;
}

.control-container {
	box-sizing: border-box;
	width: 385px;
	height: 600px;
	padding: 32px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		@include compact-layout;
		bottom: -56px;
		@include shadow.shadow;
	}
	@include breakpoints.respond-until(breakpoints.$phone) {
		position: absolute;
		width: 100%;
		height: 92px;
		bottom: 0;
		padding: 20px 40px;
		border-radius: 32px;
		gap: 32px;
		justify-content: center;
	}
}

.control-container--dark {
	--color-Circle_Purple: colors.color('Dark_Circle_Purple');
	.divider-vertical,
	.divider-horizontal {
		opacity: 0.2;
	}

	color: colors.color('Light_Grey');

	:global(.toggle-group .btn) {
		color: colors.color('Main_White');
	}

	:global(.toggle-group .btn[aria-selected='false']:not([class*='btn-Circle_'])) {
		background: rgba(colors.color('Light_Grey'), 0.2);
	}

	:global(.toggle-group .btn-Circle_Purple) {
		background: colors.color('Dark_Circle_Purple');
	}

	:global(.button-block-wrapper) {
		color: colors.color('Main_White');
	}

	:global(.button-block-wrapper .chevron-wrapper) {
		color: colors.color('Main_White');
	}

	:global(.menu-button .dropdown-wrapper) {
		background: colors.color('Dark_Menu');
		color: colors.color('Light_Grey');
	}

	:global(.theme-toggle .toggle-label),
	:global(.theme-toggle-inline .toggle-label) {
		background: rgba(colors.color('Light_Grey'), 0.2);
	}

	:global(.theme-toggle .toggle-label svg .mask),
	:global(.theme-toggle-inline .toggle-label svg .mask) {
		fill: colors.color('Light_Grey');
	}

	:global(.theme-toggle .toggle-label svg .mask-inverted),
	:global(.theme-toggle-inline .toggle-label svg .mask-inverted) {
		fill: colors.color('Main_White');
	}

	:global(.toggle-label:hover #togglehover),
	:global(.toggle-label-inline:hover #togglehover) {
		fill: rgba(colors.color('Light_Grey'), 0.1);
	}

	@media (hover: hover) {
		:global(.toggle-label:hover .toggle-thumb) {
			box-shadow: 0 0 0 16px rgba(colors.color('Light_Grey'), 0.1);
		}

		:global(.toggle-label.toggle--sm:hover .toggle-thumb) {
			box-shadow: 0 0 0 10px rgba(colors.color('Light_Grey'), 0.1);
		}

		:global(.radio-label:hover .radio-visual-shadow) {
			box-shadow: 0 0 0 12px rgba(colors.color('Light_Grey'), 0.1);
		}

		:global(.radio-label.radio--sm:hover .radio-visual-shadow) {
			box-shadow: 0 0 0 8px rgba(colors.color('Light_Grey'), 0.1);
		}

		:global(.toggle-group .btn[aria-selected='false']:not([class*='btn-Circle_']):hover) {
			background: rgba(colors.color('Light_Grey'), 0.28);
		}

		:global(.toggle-group .btn[aria-selected='false']:hover) {
			outline-color: rgba(colors.color('Light_Grey'), 0.1);
		}
	}
}

.theme-toggle {
	display: flex;
	justify-content: space-between;
	font-family: typo.$main-font-family;
	font-weight: 400;
	font-style: Book;
	font-size: 36px;
	line-height: 46.83px;
	letter-spacing: -0.89px;
	vertical-align: middle;
	margin-bottom: 32px;
}

.divider-vertical {
	width: 1px;
	height: 88px;
	background: #e8ecf5;
	align-self: stretch;
	height: calc(100% + 40px);
	margin-top: -20px;
	margin-bottom: -20px;
}
.divider-horizontal {
	width: 321px;
	height: 1px;
	background: #e8ecf5;
	margin-bottom: 32px;
}

.control-container.control-container--dark {
	.divider-vertical,
	.divider-horizontal {
		background: rgba(colors.color('Light_Grey'), 0.2);
		opacity: 1;
	}
}

.button-block-wrapper {
	display: flex;
	gap: 8px;
}
