@use '$shared/ui//colors' as colors;

.wrapper-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--color-BG, colors.color('BG'));
}

.page-content {
  position: relative;
}
