@use '$shared/ui/shadow' as shadow;
@use '$shared/ui/breakpoints' as breakpoints;
@use '$shared/ui/colors' as colors;

/* Базовые стили */
.card {
	box-sizing: border-box;
	position: relative;

	@include shadow.shadow;
	border-radius: 32px;
	border: none;

	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
}

/* Appearance */
.card-primary {
	width: 387px;
	height: 380px;
	padding: 40px;
	gap: 12px;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		width: 976px;
		height: 176px;
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 100%;
		height: 176px;
		padding: 40px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 100%;
		height: 320px;
		padding: 32px;
	}
}
.card-secondary {
	width: 590px;
	height: 340px;
	padding: 48px;
	gap: 16px;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		width: 976px;
		height: 206px;
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 100%;
		height: 206px;
		gap: 12px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 100%;
		height: 300px;
		padding: 32px;
		gap: 8px;
	}
}
.card-tertiary {
  background: colors.gradient('Card_Gradient');
	width: 590px;
	height: 700px;
	padding: 56px;
	gap: 16px;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		width: 976px;
		height: 206px;
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 100%;
		height: 206px;
		gap: 12px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 100%;
		height: 300px;
		padding: 32px;
		gap: 8px;
	}
}
