@use '$shared/ui/breakpoints' as breakpoints;

.tab-group {
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	// width: 100%;
	// max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 8px;

	-ms-overflow-style: none; // IE/Edge
	scrollbar-width: none; // Firefox
	&::-webkit-scrollbar {
		display: none;
	}

	@include breakpoints.respond-between(breakpoints.$phone, breakpoints.$tablet) {
		gap: 12px;
	}
	@include breakpoints.respond-from(breakpoints.$tablet) {
		gap: 8px;
	}
}

.tab-group :global(.tab) {
	flex: 0 0 auto;
}

.tab-group :global(.tab[aria-selected='true']) {
	background: var(--color-Primary_Blue);
	color: var(--color-Main_White);
}
