@use '$shared/ui/typography' as typo;
@use '$shared/ui/breakpoints' as breakpoints;

.beyondui-container {
	box-sizing: border-box;
	width: 100svi;
	height: fit-content;
	position: relative;
	overflow: hidden;
}

.main-container {
	box-sizing: border-box;
	z-index: 1;
	width: 1200px;
	height: 1472px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 100px 0;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		width: 1024px;
		height: 1438px;
		padding: 80px 24px;
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 100%;
		height: 1410px;
		padding: 80px 24px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 100%;
		height: 1774px;
		padding: 56px 20px;
	}
}

.text {
	transition: all 0.2s ease;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@include typo.typography('H2');
	position: relative;
	width: fit-content;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		@include typo.typography('Tablet/H2');
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		@include typo.typography('Tablet/H2');
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		@include typo.typography('Mobile/H2');
	}
}

.cards-box {
	margin-top: 64px;
	display: grid;
	grid-template-columns: 1fr 1fr; /* 2 колонки одинаковой ширины */
	grid-template-rows: auto auto auto; /* 3 ряда */
	gap: 20px;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		display: flex;
		flex-direction: column;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		gap: 8px;
	}
}

:global(.cell-first) {
	grid-row: span 2;
}
:global(.cell-forth) {
	@media (min-width: 1240px) {
		grid-column: 2;
		grid-row: 3;
	}
}
:global(.cell-fifth) {
	@media (min-width: 1240px) {
		grid-column: 1;
		grid-row: 3;
	}
}

.cards-box-img {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;

	@include breakpoints.respond-until(breakpoints.$desktopS) {
		display: block;
	}
}
.cards-box-img-big {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;

	@media (min-width: 1240px) {
		display: block;
	}
}
