@use '$shared/ui/typography' as typo;
@use '$shared/ui/breakpoints' as breakpoints;

.dropdown-settings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
  border: 0;

  @include breakpoints.respond-until(breakpoints.$desktopS) {
    gap: 12px;
  }
}

.dropdown-settings--dropdown {
  min-width: 260px;
  width: 100%;
}

.dropdown-settings-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
