/* Ellipse 369217 */
@use '$shared/ui/typography' as typo;
@use '$shared/ui/breakpoints' as breakpoints;

.header-container {
	width: 100svi;
	height: 900px;
	position: relative;
	overflow: hidden;
}

.elipse1 {
	/* Ellipse 369217 */

	position: absolute;
	width: 980.46px;
	height: 1276.56px;
	left: -226.88px;
	top: -445.5px;
	z-index: -1;

	background: radial-gradient(
			73.4% 71.88% at 17.23% 9.5%,
			rgba(235, 248, 255, 0.7) 0.52%,
			rgba(205, 236, 255, 0.7) 36.97%,
			rgba(86, 169, 254, 0.7) 88.51%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	filter: blur(40px);
	transform: rotate(-133.15deg);
}
.figure2 {
	/* Vector */
	z-index: -1;

	position: absolute;
	width: 695.94px;
	height: 695.01px;
	left: 1028.22px;
	top: 149.15px;

	background: radial-gradient(
			104.57% 116.4% at 41.24% -16.36%,
			rgba(235, 248, 255, 0.7) 13.06%,
			rgba(205, 236, 255, 0.7) 52.29%,
			rgba(86, 169, 254, 0.7) 82.55%
		)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	filter: blur(40px);
	transform: rotate(-37.11deg);
}

.main-container {
	z-index: 1;
	width: 1200px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: min(100%, 768px);
		height: 720px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 335px;
		height: 540px;
	}
}

.text-box {
	padding-top: 160px;
	padding-bottom: 80px;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		padding-top: 167px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		padding-top: 134px;
		padding-bottom: 48px;
	}
}

.text {
	transition: all 0.2s ease;

	@include typo.typography('H1 Accent');
	position: relative;
	width: fit-content;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		@include typo.typography('Tablet/H1');
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		@include typo.typography('Mobile/H1 Accent');
	}
}

.first-row {
	left: 251px;
	margin-bottom: 12px;
	@include breakpoints.respond-until(breakpoints.$tablet) {
		margin-bottom: 8px;
		left: auto;
		margin-left: auto;
		margin-right: auto;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		margin-bottom: 12px;
	}
}

.second-row {
	left: 167px;
	margin-bottom: 12px;
	@include breakpoints.respond-until(breakpoints.$tablet) {
		margin-bottom: 8px;
		left: auto;
		margin-left: auto;
		margin-right: auto;
		padding-right: 67px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		margin-bottom: 12px;
		padding: unset;
	}
}

.third-row {
	left: 274px;
	@include breakpoints.respond-until(breakpoints.$tablet) {
		left: auto;
		margin-left: auto;
		margin-right: auto;
		padding-left: 121px;
	}
	@include breakpoints.respond-until(breakpoints.$phone) {
		padding: unset;
	}
}

.logo {
	top: 40px;
	height: 40px;

	transition: all 0.2s ease;

	@include breakpoints.respond-until(breakpoints.$phone) {
		top: 64px;
		height: 32px;
	}
}

:global(.centered) {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.left-figure {
	position: absolute;
	width: 180px;
	height: 160px;
	top: 420px;
	left: 60px;
	z-index: -1;
	transition: all 0.2s ease;

	&.element-to-animate {
		animation-delay: 1500ms;
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 160px;
		height: 140px;
		left: 2px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 136px;
		height: 109px;
		left: 18px;
		top: auto;
		bottom: -13px;
		&.element-to-animate {
			animation: moveMobileleft 3s ease-in-out infinite alternate; /* Applies the animation */
		}
	}
}

@keyframes moveMobileRight {
	0% {
		transform: translateY(0) rotate(0); /* Starting position (no vertical translation) */
	}
	100% {
		transform: translateY(-160px) rotate(360deg); /* Ending position (moves down 100px) */
	}
}

.right-figure {
	position: absolute;
	width: 180px;
	height: 190px;
	top: 250px;
	left: 930px;
	z-index: -1;

	transition: all 0.2s ease;

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 160px;
		height: 168px;
		left: 621px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 115px;
		height: 118px;
		left: 201px;
		bottom: 2px;
		top: auto;

		&.element-to-animate {
			animation: moveMobileRight 3s ease-in-out infinite alternate; /* Applies the animation */
		}
	}
}

.element-to-animate {
	animation: moveVertical 3s ease-in-out infinite alternate; /* Applies the animation */
}

@keyframes moveVertical {
	0% {
		transform: translateY(0); /* Starting position (no vertical translation) */
	}
	100% {
		transform: translateY(-160px); /* Ending position (moves down 100px) */
	}
}

@keyframes moveMobileleft {
	0% {
		transform: translateY(0) rotate(27deg); /* Starting position (no vertical translation) */
	}
	100% {
		transform: translateY(-160px) rotate(-27deg); /* Ending position (moves down 100px) */
	}
}
