@use '$shared/ui/typography' as typo;
@use '$shared/ui/breakpoints' as breakpoints;

.carebenefits-container {
	width: 100svi;
	height: 900px;
	position: relative;
	overflow: hidden;
}

.main-container {
	z-index: 1;
	width: 1200px;
	height: 940px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 100px 0;

	@media (max-width: 1239px) {
		width: 1024px;
		height: 896px;
		padding: 80px 0;
	}

	@include breakpoints.respond-until(breakpoints.$tablet) {
		width: 100%;
		height: 896px;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		width: 100%;
		height: 540px;
	}
}

.text-box {
	@media (max-width: 1024px) {
	}

	@media (max-width: 767px) {
	}
}

.text {
	transition: all 0.2s ease;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@include typo.typography('H2');
	position: relative;
	width: fit-content;

	@media (max-width: 1024px) {
		@include typo.typography('Tablet/H2');
	}

	@media (max-width: 767px) {
		@include typo.typography('Mobile/H2');
	}
}

.cards-box {
	display: flex;
	gap: 20px;
	margin-top: 64px;
	margin-left: 24px;
	margin-right: 24px;

	@media (max-width: 1239px) {
		flex-direction: column;
	}

	@include breakpoints.respond-until(breakpoints.$phone) {
		gap: 8px;
		margin-top: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.cards-box-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

:global(.cards-box-item:nth-child(2n)) {
	@media (min-width: 1240px) {
		margin-bottom: 148px;
	}
}

:global(.cards-box-item:nth-child(2n+1)) {
	@media (min-width: 1240px) {
		margin-top: 148px;
	}
}

:global(.centered) {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
