@use '$shared/ui/colors' as colors;

.toggle-label {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 92px;
	height: 48px;
	border-radius: 16px;

	background: var(--color-Light_Grey, colors.color('Light_Grey'));
	cursor: pointer;

	&:hover .toggle-hover {
		visibility: visible;
	}
}

.toggle-icons {
	padding: 6px;
	box-sizing: border-box;
	position: absolute;
	display: flex;
	gap: 8px;
	width: 100%;
	height: 100%;
}

/* Скрываем нативный checkbox */
.sr-only {
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@mixin thumb-button-base() {
	position: absolute;
	top: 6px;
	width: 36px;
	height: 36px;
	border-radius: 10px;
}

.toggle-thumb {
	@include thumb-button-base();
	left: 6px;
	background-color: var(--color-Primary_Blue, colors.color('Primary_Blue'));
	transition: all 0.3s ease;

	&.checked {
		transform: translateX(44px);
	}
}

.toggle-hover {
	@include thumb-button-base();
	visibility: hidden;
	left: 50px;
	background-color: var(--color-Light_Grey_Hover, colors.color('Light_Grey_Hover'));

	&.checked {
		transform: translateX(-44px);
	}
}
